* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.flex {
  position: relative;
  height: 46px;
  padding: 14px  46px;
  background-color: hsl(220 30% 8%);
  display: flex;
}
span a {
  font-weight: bolder;
}
ul {
  list-style: none;
  display: flex;
  padding-left: 23px;
  padding-top: 5px;
}
ul li {
  display: flex;
  justify-content: center;

  border-radius: 34px;
  width: 64px;
  margin-right: 5px;
}
a li:hover {
  background-color: hsl(229, 14%, 23%);
  padding: 8px 0px;
}
a {
  text-decoration: none;
  color: white;
}
.search {
  margin-left: 28vw;
  height: 29px;
  border-radius: 10px;
}
.log{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    
}
.log a{
    height: 23px;
    padding: 6px;
    margin-bottom: 15px;
    border: 1px solid hsl(229, 14%, 23%);;
    padding-left: 21px;
    margin-left: 12px;
    border-radius: 8px;
}
.log > .signup{
    width: 66px;
}
.log > .login{
    padding-left: 18px;
    width: 52px;
}
.log a:hover{
    background-color: hsl(229, 14%, 23%);
}